<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Delights{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <h1>Django Delights</h1>
        <nav>
            <ul>
                <li class="history-link"><a href="{% url 'history' %}">History</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="/admin/">Admin</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Django Delights</p>
    </footer>
</body>

</html>